parameters:
  level: 5
  paths:
    - src
    - tests
  ignoreErrors:
    -
      # Ignore some weird errors reported by PHPStan
      # @todo Investigate further
      messages:
        - '#should return DigitalPost\\MeMo\\(.+) but returns DigitalPost\\MeMo\\\1\\\1AType.#'
        - '#expects DigitalPost\\MeMo\\(.+)(\|null)?, DigitalPost\\MeMo\\\1\\\1AType given.#'
        - '#expects array<DigitalPost\\MeMo\\(.+)>(\|null)?, array<int, DigitalPost\\MeMo\\\1\\\1AType> given.#'
